<h2>My countries ngClass Algeria</h2>
<div class="countries">
  <div class="countries__item" *ngFor="let country of countries">
    <a [routerLink]="['item', country.name]" [ngClass]="{'countries__color': country.name === ifCountry}"><b>Name:</b> {{country.name}}</a>
    <div><b>Capital:</b> {{country.capital}}</div>
  </div>
</div>

<h2>My countries *ngIf Algeria</h2>
<div class="countries">
  <ng-container *ngFor="let country of countries">
    <app-item [country]="country" (wtfOutput)="wtfEvent($event)"></app-item>
  </ng-container>
</div>

<h2>My countries ngPipes Algeria</h2>
<div class="countries">
  <div class="countries__item" *ngFor="let country of countries">
    <div>
      <div><b>Name:</b> {{country.name | reverse}} </div>
      <div><b>Capital:</b> {{country.capital | reverse}} </div>
    </div>
  </div>
</div>